html,
body,
.content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
}

#mainScreen,
#gameplay,
#gameplay,
#gameFeature,
#systemReq,
#topScore,
#footer{
background-size: 100% 100%;
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

#mainScreen {
    background-image: url("../assets/main-bg.jpg");
}

#gameplay {
    background-image: url("../assets/the-games-bg.jpg");
}

#gameFeature {
    background-image: url("../assets/features.jpg");
}

#systemReq {
    background-image: url("../assets/requirements.png");
}

#topScore {
    background-image: url("../assets/top-score-bg.png");
}

#footer {
    background-image: url("../assets/newsletter.png");
}